[submodule "Managing-Deployments-Using-Kubernetes-Engine"]
    path = Managing-Deployments-Using-Kubernetes-Engine
    url = https://github.com/username/Managing-Deployments-Using-Kubernetes-Engine.git
